@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root {
    --main-color: #1DA599;
    --secondary-color: #fff;
}

nav{
    background: transparent;
    font-family: "Ubuntu", sans-serif;
    width: 100%;
    height: 10vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: relative;
    top: 0;
    margin: 0;
    z-index: 999;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style-type: none;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: end;
    margin-right: 20px;
    text-decoration: none;
}

.nav-link {
    font-family: "Ubuntu", sans-serif;
    color: var(--main-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0rem 1.2rem;
    font-weight: 900;
    align-self: center;
}

.nav-item {
    text-decoration: none;
    align-self: center;
}


.logo {
    margin-left: 2rem;
    color: var(--main-color);
    font-family: "Outfit", sans-serif;
}

